<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse" [ngClass]="displayMenu">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li *ngFor="let item of menuItems"
                    [ngClass]="{'sub-menu dcjq-parent-li': item.children}">
                    <a *ngIf="!item.children" routerLink="{{item.path}}"
                       [ngClass]="{'active': url.indexOf(item.path) > 0}">
                        <i class="{{item.icon}}"></i>
                        <span>{{captions.get(item.path)}}</span>
                    </a>
                    <a *ngIf="item.children" routerLink="{{item.path}}" class="dcjq-parent" [ngClass]="{'active': url.indexOf(item.path) > 0}"
                       (click)="toggleManagementSub(item.path)">
                        <i class="{{item.icon}}"></i>
                        <span>{{captions.get(item.path)}}</span>
                        <span class="dcjq-icon"></span>
                    </a>
                    <ul class="sub" *ngIf="item.children" [hidden]="!item.displaySub" id="{{item.path}}">
                        <li *ngFor="let child of item.children"
                            [hidden]="!child.path"
                            routerLink="{{item.path}}/{{child.path}}"
                            routerLinkActive="active">
                            <a routerLink="{{item.path}}/{{child.path}}">
                                {{captions.get(child.path)}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->