<div class="position-center">
    <fa-loading [fullInsideElement]="true" *ngIf="loading"></fa-loading>
    <fa-alert *ngIf="displayAlert" [alert]="alert"></fa-alert>
    <div class="prf-contacts sttng">
        <h2 *ngIf="!edit"> {{captions.add_calendar_event_title}}</h2>
        <h2 *ngIf="edit"> {{captions.edit_calendar_event_title}}</h2>
    </div>
    <form role="form" class="form-horizontal" (ngSubmit)="save(f)" #f="ngForm">
        <div class="form-group">
            <label class="col-lg-2 control-label">{{captions.get('event_title')}}</label>
            <div class="col-lg-6">
                <input type="text" placeholder=" " name="title" class="form-control"
                       required [(ngModel)]="event.title">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">{{captions.get('event_description')}}</label>
            <div class="col-lg-6">
                <textarea placeholder=" " name="description" class="form-control"
                          required [(ngModel)]="event.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">{{captions.get('date')}}</label>
            <div class="col-lg-6">

            </div>
        </div>
        <br>
        <div class="text-right">
            <button *ngIf="!edit" class="btn btn-primary" id="add_new_event" type="submit">
                {{captions.add | uppercase}} <i class="fa fa-plus"></i>
            </button>
            <button *ngIf="edit" class="btn btn-primary" id="edit_event" type="submit">
                {{captions.edit | uppercase}} <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-danger" id="cancel" (click)="onClickCancel()">
                {{captions.cancel | uppercase}}
            </button>
        </div>
    </form>
</div>