<div>
    <form class="form-signin" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="signin-logo"><img src="{{logo}}"/></div>
        <label for="inputEmail" class="sr-only">{{captions.get('username')}}</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="{{captions.get('username')}}"
               required autofocus ngModel name="username">
        <label for="inputPassword" class="sr-only">{{captions.get("password")}}</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="{{captions.get('password')}}"
               required ngModel name="password">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> {{captions.get("rememberme")}}
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{captions.get("login")}}</button>
    </form>
</div>