<section id="container">
    <fa-header (notify)='toggleMainMenu($event)'></fa-header>
    <fa-menu [displayMenu]='currentMenuClass'></fa-menu>
    <!--main content start-->
    <section id="main-content" [ngClass]="{'merge-left': !displayMenu}">
        <section class="wrapper">
            <router-outlet></router-outlet>
        </section>
    </section>
    <!--main content end-->
</section>