<div class="row-fluid">
    <div class="col-md-6">
        <div class="dataTables_info" id="hidden-table-info_info">{{captions.get('showing')}}
            {{currentInitValue}} {{captions.get('pagination_to')}}
            {{currentEndValue}} {{captions.get('pagination_of')}} {{resultTotal}}
        </div>
    </div>
    <div class="col-md-6">
        <div class="dataTables_paginate paging_bootstrap pagination">
            <ul>
                <li class="prev" [ngClass]="{'disabled': disabledPrevious}"><a (click)="clickPrevious()">←
                {{captions.get('pagination_previous')}}</a></li>
                <li *ngFor="let p of pages" [ngClass]="{'active': p==page}">
                    <a (click)="goToPage(p)">{{p}}</a>
                </li>
                <li class="next" [ngClass]="{'disabled': disabledNext}"><a
                        (click)="clickNext()">{{captions.get('pagination_next')}} →
                </a></li>
            </ul>
        </div>
    </div>
</div>