<div *ngIf="segmentsAvailable && eventsAvailable" class="panel-body">
    <div>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" (click)="decrement()">
                        {{captions.get('calendar_previous')}}
                    </div>
                    <div class="btn btn-default" (click)="today()">
                        {{captions.get('today')}}
                    </div>
                    <div class="btn btn-primary" (click)="increment()">
                        {{captions.get('calendar_next')}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):language:captions}}</h3>
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" (click)="changeView('month')"
                         [class.active]="view === 'month'">{{captions.get('month')}}
                    </div>
                    <!--<div class="btn btn-primary" (click)="view = 'week'"-->
                         <!--[class.active]="view === 'week'">{{captions.get('week')}}-->
                    <!--</div>-->
                    <div class="btn btn-primary" (click)="changeView('day')" [class.active]="view === 'day'">
                        {{captions.get('day')}}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div [ngSwitch]="view">
            <mwl-calendar-month-view
                    *ngSwitchCase="'month'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [segments]="segments"
                    [refresh]="refresh"
                    [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)"
                    [weekStartsOn]="0"
                    [locale]="language"
                    [viewMoreAction]="viewMoreAction"
                    [addNewAction]="addNewAction">
            </mwl-calendar-month-view>
            <!--<mwl-calendar-week-view-->
                    <!--*ngSwitchCase="'week'"-->
                    <!--[viewDate]="viewDate"-->
                    <!--[events]="events"-->
                    <!--[refresh]="refresh"-->
                    <!--(eventTimesChanged)="eventTimesChanged($event)"-->
                    <!--[weekStartsOn]="1"-->
                    <!--[locale]="language">-->
            <!--</mwl-calendar-week-view>-->
            <mwl-calendar-day-view
                    *ngSwitchCase="'day'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [segments]="segments"
                    [refresh]="refresh"
                    (eventTimesChanged)="eventTimesChanged($event)"
                    [locale]="language"
                    [addNewAction]="addNewAction">
            </mwl-calendar-day-view>
        </div>
    </div>
</div>