<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                {{captions.management | uppercase}}
            </header>
            <div class="panel-body">
                <router-outlet></router-outlet>
            </div>
        </section>
    </div>
</div>