<div [ngClass]="{'full-loading': fullInsideElement}">
    <div class="loading-component">
        <div class="loading-image">
            <img src="//static.bretonworks.com/images/loading.gif" width="100px" height="100px"/>
        </div>
    </div>
</div>