<div class="position-center">
    <fa-loading [fullInsideElement]="true" *ngIf="loading"></fa-loading>
    <fa-alert *ngIf="displayAlert" [alert]="alert"></fa-alert>
    <div class="prf-contacts sttng">
        <h2> {{captions.get('confirm_delete_title')}}</h2>
    </div>
    <div>
        <h5>{{captions.get('confirm_delete_content')}}</h5>
    </div>
    <div class="text-right">
        <button class="btn btn-danger" id="delete_user" (click)="delete()">
            {{captions.delete | uppercase}} <i class="fa fa-trash-o"></i>
        </button>
        <button class="btn btn-primary" id="cancel" (click)="onClickCancel()">
            {{captions.cancel | uppercase}}
        </button>
    </div>
</div>