<div class="adv-table editable-table ">
    <div class="clearfix">
        <div class="btn-group pull-right">
            <button id="add_new" class="btn btn-primary"
                    (click)="onClickAddUser({})">
                {{captions.add_new}} <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>
<br>
<app-table-user (notify)='getData()' [users]='usersResults' [parent]='this'></app-table-user>
<app-pagination *ngIf="maxResult" [page]="page" [resultTotal]="maxResult" [maxPerPage]="10"></app-pagination>