<div class="position-center">
    <fa-loading [fullInsideElement]="true" *ngIf="loading"></fa-loading>
    <fa-alert *ngIf="displayAlert" [alert]="alert"></fa-alert>
    <div class="prf-contacts sttng">
        <h2 *ngIf="!edit"> {{captions.add_user_popup_title}}</h2>
        <h2 *ngIf="edit"> {{captions.edit_user_popup_title}}</h2>
    </div>
    <form role="form" class="form-horizontal" (ngSubmit)="save(f)" #f="ngForm">
        <div class="form-group">
            <label class="col-lg-2 control-label">{{captions.first_name}}</label>
            <div class="col-lg-6">
                <input type="text" placeholder=" " name="first_name" class="form-control"
                        required [(ngModel)]="user.first_name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">{{captions.last_name}}</label>
            <div class="col-lg-6">
                <input type="text" placeholder=" " name="last_name" class="form-control"
                       required [(ngModel)]="user.last_name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">{{captions.email}}</label>
            <div class="col-lg-6">
                <input type="email" placeholder=" " name="user_name" class="form-control"
                       required [(ngModel)]="user.user_name">
            </div>
        </div>
        <br>
        <div class="prf-contacts sttng">
            <b> {{captions.password | uppercase }}</b>
        </div>
        <br>
        <div class="form-group">
            <label class="col-lg-2 control-label">{{captions.password}}</label>
            <div class="col-lg-6">
                <input type="password" placeholder=" " id="password" class="form-control" ngModel
                       name="password" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">{{captions.confirm_password}}</label>
            <div class="col-lg-6">
                <input type="password" placeholder=" " id="confirm_password" class="form-control" ngModel
                       name="confirm_password" required>
            </div>
        </div>
        <br>
        <div class="prf-contacts sttng">
            <b> {{captions.roles_and_permits | uppercase }}</b>
        </div>
        <br>
        <div class="form-group">
            <label class="col-lg-2 control-label">{{captions.roles}}</label>
            <div class="col-lg-6">
                <div *ngIf="!roles">
                    {{captions.loading_roles}}
                </div>
                <select *ngIf="roles" name="roles" class="form-control" [(ngModel)]="user.role_id"
                        required>
                    <option *ngFor="let role of roles"
                            [value]="role.id">{{captions.get(role.name) |
                        uppercase}}</option>
                </select>
            </div>
        </div>
        <br>
        <div class="text-right">
            <button *ngIf="!edit" class="btn btn-primary" id="add_new_user" type="submit">
                {{captions.add | uppercase}} <i class="fa fa-plus"></i>
            </button>
            <button *ngIf="edit" class="btn btn-primary" id="add_new_user" type="submit">
                {{captions.edit | uppercase}} <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger" id="cancel" (click)="onClickCancel()">
                {{captions.cancel | uppercase}}
            </button>
        </div>
    </form>
</div>