<!--header start-->
<header class="header fixed-top clearfix">
    <!--logo start-->
    <div class="brand">

        <a href="index.html" class="logo">
            <img src="{{config.staticURL}}/images/logo_header_white_2.png" alt="">
        </a>
        <div class="sidebar-toggle-box" (click)="clickMainMenu()">
            <div class="fa fa-bars"></div>
        </div>
    </div>
    <!--logo end-->

    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
            <!-- MISSING INFORMATION -->
        </ul>
        <!--  notification end -->
    </div>
    <div class="top-nav clearfix">
        <!--search & user info start-->
        <ul class="nav pull-right top-menu">
            <li>
                <input type="text" class="form-control search" placeholder=" Search">
            </li>
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" (click)="toggleUserMenu()"
                   (clickOutside)="closeUserMenu()">
                    <img alt="" src="{{config.staticURL}}/images/profile_no_pic.jpg">
                    <span class="username">{{user.first_name}} {{user.last_name}}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout"
                    [ngClass]="{displayImportant: userMenu}">
                    <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                    <li><a (click)="doLogout()"><i class="fa fa-key"></i> Log Out</a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
            <li>
                <div class="toggle-right-box">
                    <div class="fa fa-bars"></div>
                </div>
            </li>
        </ul>
        <!--search & user info end-->
    </div>
</header>
<!--header end-->