<fa-loading *ngIf="!users"></fa-loading>
<table *ngIf="users" class="table  table-hover general-table">
    <thead>
    <tr>
        <th>{{captions.usernames}}</th>
        <th>{{captions.email}}</th>
        <th>{{captions.usertype}}</th>
        <th>{{captions.action}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.user_name}}</td>
        <td>{{captions.get(user.role_name)}}</td>
        <td>
            <button type="button" class="btn btn-primary" (click)="editUser(user)">
                <i class="fa fa-edit"></i>

            </button>
            <button type="button" class="btn btn-danger" (click)="deactivateUser(user)">
                <i class="fa fa-trash-o"></i>

            </button>
        </td>
    </tr>
    </tbody>
</table>