<div *ngIf="!hide" class="alert alert-block alert-{{alert.status.label}} fade in">
    <button data-dismiss="alert" class="close close-sm" type="button" (click)="onClickHide()">
        <i class="fa fa-times"></i>
    </button>
    <strong>{{captions.get(alert.status.caption)}}</strong> {{alert.message}}
</div>