<fa-loading *ngIf="!segments"></fa-loading>
<div class="adv-table editable-table ">
    <div class="clearfix">
        <div class="btn-group pull-right">
            <button class="btn btn-primary" id="add_new" (click)="editAddSegment(null)">
                {{captions.get('add_new_segment')}} <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>
<div class="panel-body">
    <table class="table general-table table-segment">
        <thead>
        <tr>
            <th *ngFor="let day of days">{{captions.get(day.name)}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td *ngFor="let day of days">
                <div *ngFor="let segment of getSegmentsOfDay(day.id)" class="alert alert-info fade in margin-bottom-5" (click)="editAddSegment(segment)" style="cursor: pointer">
                    <b>{{getTimeFormat(segment.start_time)}} - {{getTimeFormat(segment.end_time)}}</b><br>
                    {{captions.get('span')}}: {{segment.time_per_appointment}} {{captions.get('mins')}}<br>
                    {{captions.get('overbooking')}}: {{segment.overbooking ? captions.get('yes') : captions.get('no')}}<br>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>