<div class="position-center">
    <fa-loading [fullInsideElement]="true" *ngIf="loading"></fa-loading>
    <fa-alert *ngIf="displayAlert" [alert]="alert"></fa-alert>
    <div class="prf-contacts sttng">
        <h2 *ngIf="!edit"> {{captions.add_segment_popup_title}}</h2>
        <h2 *ngIf="edit"> {{captions.edit_segment_popup_title}}</h2>
    </div>
    <form role="form" class="form-horizontal" (ngSubmit)="save(f)" #f="ngForm">
        <div class="form-group">
            <label class="col-lg-4 control-label">{{captions.get('day_of_the_week')}}</label>
            <div class="col-lg-3">
                <select *ngIf="days" name="days" class="form-control" [(ngModel)]="segment.day"
                        required>
                    <option *ngFor="let day of days"
                            [value]="day.id">{{captions.get(day.name) | uppercase}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 control-label">{{captions.get('time_range_from')}}</label>
            <div class="col-lg-3">
                <select *ngIf="timeRangeFrom" name="start_time" class="form-control" [(ngModel)]="segment.start_time"
                        required (ngModelChange)="checkTimeRanges()">
                    <option *ngFor="let time_range_from of timeRangeFrom"
                            [value]="time_range_from.value" [disabled]="time_range_from.disabled">{{time_range_from.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 control-label">{{captions.get('time_range_to')}}</label>
            <div class="col-lg-3">
                <select *ngIf="timeRangeTo" name="end_time" class="form-control" [(ngModel)]="segment.end_time"
                        required (ngModelChange)="checkTimeRanges()">
                    <option *ngFor="let time_range_to of timeRangeTo"
                            [value]="time_range_to.value"  [disabled]="time_range_to.disabled">{{time_range_to.name}}</option>
                </select>
            </div>
        </div>
       <div class="form-group">
           <label class="col-lg-4 control-label">{{captions.get('time_of_consultation')}}</label>
           <div class="col-lg-2">
               <input type="text" [(ngModel)]="segment.time_per_appointment" name="time_per_appointment" class="form-control"/>
           </div>
       </div>
       <div class="form-group">
           <label class="col-lg-4 control-label">{{captions.get('accept_overbooking')}}?</label>
           <div class="col-lg-2">
               <input type="checkbox" [(ngModel)]="segment.overbooking" name="overbooking" class="form-control"/>
           </div>
       </div>
       <div class="form-group">
           <label class="col-lg-4 control-label">{{captions.get('max_overbooking')}}</label>
           <div class="col-lg-2">
               <input type="text" [(ngModel)]="segment.overbooking_number" name="overbooking_number" class="form-control" [disabled]="!segment.overbooking"/>
           </div>
       </div>
       <br>
        <div class="text-right">
            <button *ngIf="!edit" class="btn btn-primary" id="save_segment" type="submit">
                {{captions.get('add_segment') | uppercase}} <i class="fa fa-plus"></i>
            </button>
            <button *ngIf="edit" class="btn btn-primary" id="save_segment" type="submit">
                {{captions.get('edit_segment') | uppercase}} <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger" id="cancel" (click)="onClickCancel()">
                {{captions.get('cancel') | uppercase}}
            </button>
        </div>
    </form>
</div>